* {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

title {
  height: 0px;
}

body {
  margin: 0px;
  font-family: "inter", sans-serif;
  background-color: #fff;
}

header {
  box-shadow:
    0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  height: 70px;
  background: #fff;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  /*align-content:;*/
  float: left;
  position: sticky;
}

#gov-logo {
  margin-left: 200px;
  align-items: center;
  width: 5%;
  height: 43%;
  align-content: flex-start;
  justify-content: center;
  border-right-width: 8px;
  border-right: 0.5mm ridge gray;
}

#govbr {
  text-align: left;
  border-left: 0px;
  margin: 8px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.container {
  width: 100%;
}

.banner {
  height: 551px;
  width: 75%;
  background-color: #1e56ad;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.h4-banner {
  font-size: 24px;
  color: #ffff00;
  font-family: "Julius Sans One", sans-serif;
  text-align: center;
  font-style: normal;
}

.img-banner {
  width: 500px;
  height: 280px;
}

.p-justificado {
  width: 70%;
  position: sticky;
  color: #0c326f;
}

.p-centralizado {
  width: 70%;
  text-align: center;
  color: #0c326f;
  margin-bottom: 3%;
}

.fundo-menu {
  background-color: #fcf9f9;
}

.h1-menu {
  margin-top: 40px;
  font-family: "rawline", helvetica, arial, sans-serif;
  color: #0c326f;
}

.menu {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  flex-direction: row;
}

.botoes {
  width: 240px;
  height: 240px;
  box-shadow:
    0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  background-color: white;
  margin-left: 20px;
  font-size: 1.1rem;
  font-family: "Rawline", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0075em;
  color: #0c326f;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  text-decoration: none;
}

.botoes:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.icone-botoes {
  width: 70px;
  height: 70px;
}

/* descobrir uso

.pbanner {
  justify-content: center;
  text-align: justify;
  width: 40%;
  font-family: "Martel", serif;
  margin-top: 5%;
  color: #0c326f;
}*/

/*fim Index*/

/*Requisitos*/

.requisitos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 80px 0px;
  width: 75%;
}

.h1-requisitos {
  font-family: "Inter", sans-serif;
  color: #0c326f;
  font-size: 36px;
  margin-top: 0px;
}

.fundo-java {
  width: 150px;
  height: 150px;
  box-shadow:
    0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  border-radius: 15px;
  background-color: #fff;
}

#img-java {
  width: 150px;
  height: 180px;
}

.fundo-logo {
  width: 150px;
  height: 150px;
  background-color: #fff;
  box-shadow:
    0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  border-radius: 50%;
  margin-bottom: 20px;
}

.chrome {
  width: 120px;
  height: 120px;
}

#navegadores {
  width: 55%;
}

.mozila {
  width: 100px;
  height: 103px;
  filter: grayscale(100%);
}

.edge {
  width: 105px;
  height: 106px;
  filter: grayscale(100%);
}

h4 {
  margin: 30px 0px;
  text-align: center;
}

/*fim Requisitos*/

/*FAQ*/

.faq-container {
  font-family: "Inter", sans-serif;
  width: 50%;
  margin: 0 auto;
}

.h1faq {
  font-family: "Inter", sans-serif;
  color: #0c326f;
  font-size: 36px;
  margin-top: 0px;
}

.lista-faq {
  font-family: "Inter", sans-serif;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  width: 750px;
  padding: 0px 20px;
}

.pergunta-faq {
  font-family: "Inter", sans-serif;
  background-color: #f4f3f3;
  padding: 30px;
  cursor: pointer;
  border-radius: 10px;
  text-align: right;
  align-items: baseline;
  border: 2px solid white;
}

.resposta-faq {
  font-family: "Inter", sans-serif;
  padding: 15px;
  display: none;
  /* Respostas inicialmente ocultas */
  overflow: hidden;
  /* Para a animação de altura */
  transition: max-height 0.3s ease-out;
  /* Animação suave */
  justify-content: center;
  text-align: justify;
  width: 700px;
}

.resposta-faq.active {
  font-family: "Inter", sans-serif;
  padding: 15px;
  display: block;
  max-height: 600px;
  /* Ajuste conforme necessário */
  width: 700px;
}

/*fim FAQ*/

/*Co-autor*/
.h1tramite {
  font-family: "Inter", sans-serif;
  color: #0c326f;
  font-size: 36px;
}

.h3tramite {
  font-family: "Inter", sans-serif;
  color: #0c326f;
  font-size: 20px;
  float: left;
  display: flex;
  align-items: flex-start;
  width: 50%;
}

.pfora {
  width: 50%;
  text-align: justify;
  justify-content: baseline;
  font-family: "Inter", sans-serif;
  float: left;
  display: flex;
  align-items: flex-start;
}

.section1 {
  width: 50%;
  background-color: #f4f3f3;
  box-shadow:
    0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  padding-top: 30px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  font-family: "Martel", serif;
}

.section2 {
  width: 50%;
  background-color: #f4f3f3;
  box-shadow:
    0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  padding-top: 30px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  text-align: justify;
  font-family: "Martel", serif;
}

.section3 {
  width: 50%;
  background-color: #f4f3f3;
  box-shadow:
    0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  padding-top: 30px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  text-align: justify;
  font-family: "Martel", serif;
}

.section4 {
  width: 50%;
  background-color: #f4f3f3;
  box-shadow:
    0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  padding-top: 30px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  text-align: justify;
  font-family: "Martel", serif;
}
.section5 {
  width: 50%;
  background-color: #f4f3f3;
  box-shadow:
    0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  padding-top: 30px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  text-align: justify;
  font-family: "Martel", serif;
}
.section6 {
  width: 50%;
  background-color: #f4f3f3;
  box-shadow:
    0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  padding-top: 30px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  text-align: justify;
  font-family: "Martel", serif;
}
.section7 {
  width: 50%;
  background-color: #f4f3f3;
  box-shadow:
    0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  padding-top: 30px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  text-align: justify;
  font-family: "Martel", serif;
}
.imgsection1 {
  width: 361px;
  height: 34px;
  border: 1px solid #ccc;
  box-shadow:
    0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.imgsection2 {
  border: 1px solid #ccc;
  box-shadow:
    0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.imgsection3 {
  border: 1px solid #ccc;
  box-shadow:
    0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.imgsection4 {
  width: 128px;
  height: 21px;
  border: 1px solid #ccc;
  box-shadow:
    0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.psection1 {
  text-align: justify;
  align-items: baseline;
}

/* Visoes */

.imgvisoes1 {
  width: 397px;
  height: 337px;
  border: 1px solid #ccc;
  box-shadow:
    0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.imgvisoes2 {
  width: 500px;
  height: 300px;
  border: 1px solid #ccc;
  box-shadow:
    0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

/*AdminFluxos*/
.imgadminfluxos1 {
  border: 1px solid #ccc;
  box-shadow:
    0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.imgadminfluxos2 {
  border: 1px solid #ccc;
  box-shadow:
    0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.imgadminfluxos3 {
  border: 1px solid #ccc;
  box-shadow:
    0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.imgadminfluxos4 {
  border: 1px solid #ccc;
  box-shadow:
    0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.imgadminfluxos5 {
  border: 1px solid #ccc;
  box-shadow:
    0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.imgadminfluxos6 {
  border: 1px solid #ccc;
  box-shadow:
    0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
